[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
pandas = "*"
numpy = "*"
shapely = "*"
ipykernel = "*"
black = "*"
requests = "*"
matplotlib = "*"
rasterio = "*"
tqdm = "*"
salem = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
